.nav-container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-evenly;
}

.nav-type {
  border: 3px solid black;
  border-radius: 6px;
  background: rgb(195, 188, 178);
  color: black;
  display: flex;
  padding: 20px;
  text-decoration: none;
  padding-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .nav-container {
    display: flex;
    flex-direction: column;
  }
}
