@import url('https://fonts.cdnfonts.com/css/harrypotter7');

.loading-icon {
  width: 20vw;
}

.card-serving {
  size: 30px;
}

.recipe {
  display: flex;
  justify-content: left
}

.recipe-container {
  background: url('../assets/recipe-card.jpeg');
  background-position: center;
  background-size: cover;
  color: black;
  border: 2px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  padding: 40px;
  flex: 1 1 0px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 80%;
}

.button-container {
  text-decoration: none;
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
  overflow: hidden;
  border: 1px solid;
  transition: 0.5s;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn {
  width: 101%;
  height: 100%;
  font-family: 'HarryPotter7', sans-serif;
  font-size: 16px;
  background: #000;
  -webkit-mask: url('https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png');
  mask: url('https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png');
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}

.home-btn:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}

.text {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-family: 'HarryPotter7', sans-serif;
  position: absolute;
  overflow: hidden;
}

.recipe-ingredients {
  text-align: left;
  margin-left: 75px;
}

.ingredients-header {
  text-align: center;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@media screen and (max-width: 800px) {
  .recipe-container {
    width: 80%;
    padding: 10px;
  }
}
