.loading-icon {
  width: 20vw;
}

.recipe-container {
  background-color: bisque;
  color: black;
  border: 8px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  flex: 1 1 0px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 80%;
}

@media screen and (max-width: 800px) {
  .recipe-container {
    width: 80%;
    padding: 10px;
  }
}
