@import url('https://fonts.cdnfonts.com/css/harrypotter7');


.main-container {
  text-align: center;
  color: gold;
  font-family: 'HarryPotter7', sans-serif;
  border: 1px solid black;
  background-color: rgb(48, 24, 79);
  height: 100vh;
  width: 100vw;
  /* background-repeat: no-repeat; */
}
