@import url('https://fonts.cdnfonts.com/css/harrypotter7');

.main-container {
  text-align: center;
  color: gold;
  font-family: 'HarryPotter7', sans-serif;
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100%;
  border: 0;
}
